export(analyze_elbow)
export(do_elbow_rnaseq)
export(do_elbow)
export(elbow_variance)
export(extract_working_sets)
export(get_elbow_limma)
export(get_pvalue)
export(null_variance)
export(plot_dataset)
export(plot_elbow)
export(replicates_to_fold)
